.service_container {
    display: flex;
    justify-content: center !important;
    flex-wrap: wrap;
    gap: 30px;
}
.service_box {
    width: max-content !important;
}

@media only screen and (max-width: 992px){
    .service_container {
            flex-direction: column;
            align-items: center;
    }
}