.list__logo-section {
    background-color: #F4F7FD;
    width: 100%;
}

.list__logo-content {
    justify-content: center;
    gap: 6rem !important;
}

.list__logo-google {
    width: 109.53px;
    height: 31.37px;
}

.list__logo-slack {
    width: 136px;
    height: 48px;
}

.list__logo-discord {
    width: 154px;
    height: 39px;
}

.list__logo-riotinto {
    width: 141px;
    height: 30px;
}

.list__logo-heroku {
    width: 130px;
    height: 33px;
}

@media only screen and (max-width: 1196px){
    .list__logo-content {
        gap: 3rem !important;
    }
}

@media only screen and (max-width: 992px){
    .list__logo-content {
        gap: 2rem !important;
    }

    .list__logo-google {
        width: 86.53px;
        height: 20.37px;
    }

    .list__logo-slack {
        width: 96px;
        height: 31px;
    }

    .list__logo-discord {
        width: 110px;
        height: 21px;
    }

    .list__logo-riotinto {
        width: 108px;
        height: 24px;
    }

    .list__logo-heroku {
        width: 96px;
        height: 26px;
    }
}

@media only screen and (max-width: 768px) {
    .list__logo-content {
        gap: 1rem !important;
    }
    .list__logo-google {
        width: 69.53px;
        height: 15.37px;
    }

    .list__logo-slack {
        width: 60px;
        height: 20px;
    }

    .list__logo-discord {
        width: 74px;
        height: 22px;
    }

    .list__logo-riotinto {
        width: 80px;
        height: 15px;
    }

    .list__logo-heroku {
        width: 80px;
        height: 22px;
    }
 }

 @media only screen and (max-width: 576px) {
    .list__logo-content {
        gap: 0.8rem !important;
    }
    .list__logo-google {
        width: 67.53px;
        height: 14.37px;
    }

    .list__logo-slack {
        width: 58px;
        height: 19px;
    }

    .list__logo-discord {
        width: 72px;
        height: 21px;
    }

    .list__logo-riotinto {
        width: 78px;
        height: 14px;
    }

    .list__logo-heroku {
        width: 78px;
        height: 21px;
    }
 }

  @media only screen and (max-width: 450px) {
    .list__logo-content {
        gap: 0.7rem !important;
    }
    .list__logo-google {
        width: 60.53px;
        height: 13.37px;
    }

    .list__logo-slack {
        width: 50px;
        height: 18px;
    }

    .list__logo-discord {
        width: 64px;
        height: 20px;
    }

    .list__logo-riotinto {
        width: 70px;
        height: 13px;
    }

    .list__logo-heroku {
        width: 70px;
        height: 20px;
    }
 }

   @media only screen and (max-width: 380px) {
    .list__logo-content {
        gap: 0.6rem !important;
    }
    .list__logo-google {
        width: 55.53px;
        height: 11.37px;
    }

    .list__logo-slack {
        width: 45px;
        height: 17px;
    }

    .list__logo-discord {
        width: 59px;
        height: 17px;
    }

    .list__logo-riotinto {
        width: 65px;
        height: 12px;
    }

    .list__logo-heroku {
        width: 65px;
        height: 19px;
    }
 }