@import url("https://fonts.googleapis.com/css2?family=Island+Moments&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: #F67102;
  --secondary-color: #F67102;
  --heading-color: #635F85;
  --text-color: #635F85;
  --font-name: "Montserrat", sans-serif;
  --subtitle-font-name: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-name);
}

section {
  padding: 50px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

a {
  text-decoration: none;
  color: unset;
}
ul {
  list-style: none;
}

.primary__btn {
  background: var(--secondary-color) !important;
  border: none !important;
  border-radius: 50px !important;
  padding: 0.9rem 2rem !important;
}

.primary__btn a {
  font-size: 1.1rem;
  text-decoration: none;
  color: #fff;
}
.primary__btn a:hover {
  color: inherit;
}
.secondary__btn {
  background: transparent !important;
  color: #0b2727 !important;
  /* border: none !important; */
  font-weight: 500 !important;
  padding: 0.9rem 2rem !important;
  border: 2px solid #E7E7E7 !important;
  border-radius: 50px !important;
}

.secondary__btn a {
  text-decoration: none;
  font-size: 16px;
  color: var(--primary-color);
}

.secondary__btn a:hover {
  color: inherit;
}


.section__title {
  font-family: var(--subtitle-font-name);
  width: max-content;
  line-height: 19.5px;
  font-weight: 500;
  font-size: 13px;
  color: #FF7D01;
}

.section__contenttitle {
  font-family: var(--subtitle-font-name);
  line-height: 56px;
  font-weight: 700;
  font-size: 50px;
  color: black;
}

.section__subtitle {
  font-family: var(--subtitle-font-name);
  font-weight: 500;
  font-size: 16px;
  color: #5D677E;
}

.hightlight {
  font-size: 25px;
  font-weight: 600;
  color: #F4A11A;
}
