@import url("https://fonts.googleapis.com/css2?family=Island+Moments&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: #F67102;
  --secondary-color: #F67102;
  --hover-color: #ff9137;
  --heading-color: #635F85;
  --text-color: #635F85;
  --font-name: "Montserrat", sans-serif;
  --subtitle-font-name: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-name);
}

section {
  padding: 50px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

a {
  text-decoration: none;
  color: unset;
}
ul {
  list-style: none;
}

.primary__btn {
  background: var(--secondary-color) !important;
  border: none !important;
  border-radius: 50px !important;
  padding: 0.9rem 2rem !important;
}
.primary__btn:hover {
  background: var(--hover-color) !important;
  box-shadow: 2px 2px 1px 1px #d9cfcb;
  transition: 0.7s;
}
.primary__btn a {
  font-size: 1.1rem;
  text-decoration: none;
  color: #fff;
}
.primary__btn a:hover {
  color: inherit;
  transition: 0.7s;
}

.secondary__btn {
  background: transparent !important;
  font-weight: 500 !important;
  padding: 0.9rem 2.5rem !important;
  border: 1px solid #E7E7E7 !important;
  border-radius: 50px !important;
  transition: background-color 0.7s, border-color 0.7s;
}
.secondary__btn:hover {
  background: var(--hover-color) !important;
  border: 2px solid var(--hover-color) !important;
  transition: 0.7s;
  box-shadow: 2px 2px 1px 1px #d9cfcb;
}
.secondary__btn a {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--primary-color);
  transition: #fff 0.7s !important;
}
.secondary__btn:hover a {
  color: #fff !important;
  transition: 0.7s;
}


.section__title {
  font-family: var(--subtitle-font-name);
  width: max-content;
  line-height: 19.5px;
  font-weight: 700;
  font-size: 17px;
  color: #FF7D01;
}

.section__contenttitle {
  font-family: var(--subtitle-font-name);
  line-height: 56px;
  font-weight: 700;
  font-size: 50px;
  color: black;
}

.section__contenttitle2 {
  font-family: var(--subtitle-font-name);
  line-height: 46px;
  font-weight: 700;
  font-size: 40px;
  color: black;
}


.section__subtitle {
  font-family: var(--subtitle-font-name);
  font-weight: 500;
  font-size: 16px;
  color: #5D677E;
}

.hightlight {
  font-size: 25px;
  font-weight: 600;
  color: #F4A11A;
}

@media only screen and (max-width: 1196px){
  .section__contenttitle {
    line-height: 40px;
    font-size: 40px;
  }
  .section__subtitle {
    font-size: 14px;
  }
  .primary__btn a,
  .secondary__btn a {
    font-size: 1rem;
  }
  .secondary__btn {
    padding: 0.6rem 1.9rem !important;
  }

  .primary__btn,
  .btn-dark {
    padding: 0.6rem 1.4rem !important;
  }

}

@media only screen and (max-width: 992px){
  .primary__btn {
    padding: 0.7rem 1rem !important;
  }
  section {
    padding: 40px 0;
  }
  .section__contenttitle {
    line-height: 36px;
    font-size: 35px;
  }
  .section__contenttitle2 {
    line-height: 36px;
    font-size: 30px;

  }
  .primary__btn a,
  .secondary__btn a {
    font-size: 0.9rem;
  }

  .secondary__btn {
    padding: 0.5rem 1.7rem !important;
  }

  .primary__btn,
  .btn-dark {
    padding: 0.5rem 1.3rem !important;
  }
}

@media only screen and (max-width: 768px){
  section {
    padding: 30px 0;
  }
  .section__contenttitle {
    line-height: 36px;
    font-size: 35px;
  }
  .secondary__btn {
    padding: 0.45rem 1.3rem !important;
  }
  .primary__btn,
  .btn-dark {
    padding: 0.4rem 0.9rem 0.5rem 0.9rem !important;
  }
  
}

@media only screen and (max-width: 576px){
  .section__contenttitle {
    line-height: 36px;
    font-size: 35px;
  }
  .section__contenttitle2 {
    line-height: 26px;
    font-size: 26px;
  }
  .section__subtitle {
    font-size: 12px;
  }
  .secondary__btn {
    padding: 0.4rem 1.2rem !important;
  }
  .primary__btn,
  .btn-dark {
    padding: 0.3rem 0.8rem 0.4rem 0.8rem !important;
  }
}

@media only screen and (max-width: 380px){
  .primary__btn a,
  .secondary__btn a {
    font-size: 0.8rem;
  }
  .secondary__btn {
    /* padding: 0.3rem 1rem !important; */
    padding: 0.2rem 1rem 0.4rem 1rem !important;
  }
  .primary__btn,
  .btn-dark {
    padding: 0.2rem 0.7rem 0.4rem 0.7rem !important;
  }
}