.header{
    width: 100%;
    line-height: 80px;
}

.logo img {
    width: 120.93px;
    height: 24.93px;
    border-radius: 17.5px;
}

.menu {
    margin-bottom: 0;
}

.nav__item a {
    text-decoration: none;
    color: var(--heading-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    position: relative;
}

.nav__item a::after {
    content: '';
    position: absolute;
    bottom: -2px; /* Đặt đường gạch chân ngay dưới văn bản */
    left: 0;
    width: 0;
    height: 2px; /* Độ dày của đường gạch chân */
    color: var(--primary-color);
    background-color: var(--primary-color); /* Màu sắc của đường gạch chân */
    transition: width 0.3s ease; /* Hiệu ứng chuyển động khi hover */
}

.nav__item a:hover {
  color: var(--primary-color); /* Đổi màu chữ thành màu cam khi hover */
}

.nav__item a:hover::after {
  width: 50%; /* Độ dài của gạch chân là 50% chiều dài văn bản */
}

/* header sticky */
.sticky__header {
    width: 100%;
    height: 80px;
    line-height: 80px;
    background: #fff;
    position: sticky;
    top: 0;
    left: 0;
    /* box-shadow: 3px 3px 8px -3px #ddd; */
    z-index: 999;
}